# docker-compose.yml
services:
  bind9:
    image: internetsystemsconsortium/bind9:9.18
    container_name: bind9
    hostname: dns2-happylink-net-ua
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - ./named.conf:/etc/bind/named.conf:ro
      - ./zones:/etc/bind/zones:ro
    restart: unless-stopped
